.feed{
    max-width: 1761px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 200px;
    transition: all ease-out 0.5s;
}

.feed img{
    width: 40%;
    height: 40%;
    display: cover;
}

.feed-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 30px;
}

.feed-text h1{
    font-weight: 100;
    font-size: 40px;
    line-height: 0px;
}

.feed-text p{
    font-weight: 100;
    text-align: justify;
}

@media screen and (max-width: 1200px){
    .feed{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
        transition: all ease-in 0.5s;
    }

    .feed img{
        width: 100%;
    }

    .feed-text{
        margin-top: 50px;
    }
}